body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
  background: #434343;
}
/* 
a {
  color: #ffffff;
  text-decoration: none;
}

h1 {
  text-align: center;
} */

/* Slider Top */
.content-slider-top {
  position: relative;
}

.content-slider-top .header {
  position: absolute;
  width: 100%;
  top: 5%;
  z-index: 999;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.content-slider-top .header h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #4d6128;
  margin: 0.1rem 0;
}

.content-slider-top .header p {
  font-size: 1.2rem;
  color: #213800;
  font-weight: bold;
}

.content-slider-top .header a {
  color: #333333;
  text-decoration: none;
}
/* End Text Header */

/* Slider Top */
.top-slider {
  overflow: hidden;
}
.top-slider-set {
  display: flex; /* we use a flexbox as an easy way to size our slides, align them horizontally and prevent them from breaking on new lines */
}
.top-slider-item {
  flex: 0 0 100%; /* this translates to: each slide should be full width */
  position: relative; /* allows us to move our slides left and right */

  left: 0; /* setting an initial value for left so the transition works */
}
.top-slider-item img {
  width: 100%; /* the image should span the whole slide */
  height: 100vh; /* adjust the height as needed to preserve aspect ratio */
  /* opacity: 0.5; */
}
.top-slider-set,
.top-slider-bullet-set {
  padding: 0;
  margin: 0;
  list-style: none;
}

.top-slider-bullet-set {
  position: absolute; /* lets us place our bullet points on top of the slider, or anywhere we want for that matter */
  bottom: 50px; /* 15px of space between our bullets and the bottom of the slider */
  /* centers bullets horizontally */
  left: 50%;
  transform: translateX(-50%);
  /* --- */
}

.top-slider-bullet {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* makes out bullets round */
  background: white;
  display: inline-block; /* lays our bullets out horizontally */
  margin: 0 6px; /* spacing the bullets apart so they're not clustered together */
  border: 10px solid #313131;
  cursor: pointer;
}

.top-slider-bullet.active {
  opacity: 1;
  background: #4d6128;
  border: 10px solid #ffffff;
}
/* End Slider Top */

/* Slider Middle */
.container {
  width: 100%;
  margin: 40px auto;
  overflow: auto;
}

.slider-inner {
  width: 500px;
  height: 300px;
  position: relative;
  overflow: hidden;
  float: left;
  padding: 3px;
  border: 10px solid #707070;
}

.slider-inner img {
  display: none;
  width: 500px;
  height: 300px;
}

.slider-inner img.active {
  display: inline-block;
}

.prev,
.next {
  float: left;
  margin-top: 130px;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

.prev {
  position: relative;
  margin-right: -45px;
  z-index: 100;
}

.next {
  position: relative;
  margin-left: -45px;
  z-index: 100;
}
/* End Slider Middle */

/* Content Middle */
.content-middle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.content-middle-img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 10px solid #313131;
}
/* End Content Middle */
